<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Complete los campos:</p>

  <form action="/links" method="POST" class="main-form">
    <label for="country-target">
      Selecciona un país:
    </label>
      <select class="country-target" id="country-target" name="countryTarget">
        <option value="" default>-</option>
        <option value="Argentina">Argentina</option>
        <option value="Australia">Australia</option>
        <option value="Bolivia">Bolivia</option>
        <option value="Brazil">Brasil</option>
        <option value="Chile">Chile</option>
        <option value="Colombia">Colombia</option>
        <option value="Costa Rica">Costa Rica</option>
        <option value="Ecuador">Ecuador</option>
        <option value="El Salvador">El Salvador</option>
        <option value="Spain">España</option>
        <option value="United States">Estados Unidos</option>
        <option value="Philippines">Filipinas</option>
        <option value="Guatemala">Guatemala</option>
        <option value="Honduras">Honduras</option>
        <option value="India">India</option>
        <option value="United Kingdom">Inglaterra</option>
        <option value="Mexico">México</option>
        <option value="Nicaragua">Nicaragua</option>
        <option value="Panama">Panamá</option>
        <option value="Paraguay">Paraguay</option>
        <option value="Peru">Perú</option>
        <option value="Dominican Republic">Republica Dominicana</option>
        <option value="South Africa">Sudafrica</option>
        <option value="Ukraine">Ucrania</option>
        <option value="Uruguay">Uruguay</option>
        <option value="Venezuela">Venezuela</option>
      </select>

    <label for="limitPage">
      Cantidad de páginas:
    </label>
      <input type="number" name="limitPage" id="limitPage">
    
    <label for="search">
      Introduce un termino:
    </label>
      <input type="text" id="search" name="search">
    
    <button type="submit">Buscar!</button>
  </form>
  <form action="/consult" method="GET">
    <button type="submit">Consultar JSONBin</button>
  </form>
  <form action="/proxytest" method="GET">
    <button type="submit">Test Proxy</button>
  </form>
  <form action="/proxyget" method="POST" style="padding-top: 20px; border: 1px solid gray; width: 35%; margin-left: auto; margin-right: auto;">
    <select class="country-target" id="country-target" name="countryTarget">
      <option value="" default>-</option>
      <option value="Argentina">Argentina</option>
      <option value="Australia">Australia</option>
      <option value="Bolivia">Bolivia</option>
      <option value="Brazil">Brasil</option>
      <option value="Chile">Chile</option>
      <option value="Colombia">Colombia</option>
      <option value="Costa Rica">Costa Rica</option>
      <option value="Ecuador">Ecuador</option>
      <option value="El Salvador">El Salvador</option>
      <option value="Spain">España</option>
      <option value="United States">Estados Unidos</option>
      <option value="Philippines">Filipinas</option>
      <option value="Guatemala">Guatemala</option>
      <option value="Honduras">Honduras</option>
      <option value="India">India</option>
      <option value="United Kingdom">Inglaterra</option>
      <option value="Mexico">México</option>
      <option value="Nicaragua">Nicaragua</option>
      <option value="Panama">Panamá</option>
      <option value="Paraguay">Paraguay</option>
      <option value="Peru">Perú</option>
      <option value="Dominican Republic">Republica Dominicana</option>
      <option value="South Africa">Sudafrica</option>
      <option value="Ukraine">Ucrania</option>
      <option value="Uruguay">Uruguay</option>
      <option value="Venezuela">Venezuela</option>
    </select>
    <button type="submit">Get Proxies</button>
  </form>
</body>

</html>