<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Se obtuvieron los siguientes mails:</p>
  <ul>
    <% for (var i = 0; i < mails.length ; i++) { %>
        <li><%= mails[i] %></li>
    <% } %>
  </ul>
  <form action="/" method="GET">
    <button type="submit">Volver a Inicio</button>
  </form>

</body>

</html>