<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Resultados obtenidos:</p>


    <table>
        <tr>
            <th>URL</th>
            <th>MAIL</th>
        </tr>

    </table>

    <form action="/" method="GET">
        <button type="submit">Volver a Inicio</button>
    </form>

</body>

</html>